<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="Insertdata" method = "POST">
        {% csrf_token %}
        <input type="text" placeholder="dptno" name="dno"><br>
        <input type="text" placeholder="dptname" name="dname"><br>
        <input type="text" placeholder="loc" name="dloc"><br>
        <input type="submit">
    </form>

    <table>
        <tr>
            <td>id</td>
            <td>DEPTNO</td>
            <td>DEPTNAME</td>
            <td>DEPTLOC</td>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.DEPTNO }}</td>
            <td>{{ i.DEPTNAME}}</td>
            <td>{{ i.DEPTLOC }}</td>
            <td><a href="update-{{i.id}}">update</a></td>
            <td><a href="delete-{{i.id}}">delete</a></td>
        </tr>
        {% endfor %}

</body>
</html>